.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 830px;
    margin: 0 auto;
    gap: 80px;
}

.edit {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}